<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dixon.dnote">

    <application>
        <activity android:name=".activity.NoteTableActivity"/>
        <receiver android:name=".desktop.NoteWidget">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_widget_info" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.seewo.homewidgets.action.CLICK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>